apiVersion: v1
kind: ConfigMap
metadata:
  name: calico-cni
  namespace: hors-prod
data:
  calico.yaml: |
    ---
    apiVersion: batch/v1
    kind: Job
    metadata:
      name: install-calico
      namespace: kube-system
    spec:
      ttlSecondsAfterFinished: 600
      template:
        spec:
          restartPolicy: OnFailure
          hostNetwork: true
          tolerations:
          - operator: Exists
          containers:
          - name: kubectl
            image: bitnami/kubectl:1.33
            command:
            - bash
            - -c
            - |
              kubectl apply -f https://raw.githubusercontent.com/projectcalico/calico/v3.31.2/manifests/calico.yaml